@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    color: #666666;
    background-color: #f9f8f6;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.4em;
    margin: 0px;
}
.wrapper {
    width: 940px;
    margin: 15px auto 15px auto;
    border: 2px solid #ff0000;
    background-color: #ffffff;
}
header {
    color: 000000;
    height: 160px;
    /*background-image: url(path);*/
}
h1 {
    width: 940px;
    height: 130px;
    margin: 0px;
}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li a {
    color: #ffffff;
}
nav li a:hover, nav li a.current {
    color: #000000;
}
selection.courses {
    float: left;
    width: 660px;
    border-right: 1px solid #eeeeee;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;
}

button {
  background-color: #FFF;
  border: 1px solid #000000;
}

button:hover {
  background-color: #de6581;
  color: #FFF;
}

hgroup {
    margin-top: 40px;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}
img {
    width: 240px;
    height: 200px;
}
figcaption {
    font-size: 90%;
    text-align: left;
}
a {
    color: #de6581;
    text-decoration: none;
}
h1, h2, h3 {
    font-weight: normal;
}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
footer {
    font-size: 75%;
    padding: 7px 0px 0px 20px;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

