/* import google fonts for the topline headers */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&family=Zilla+Slab+Highlight&display=swadisplay=swap');

:root {
  --dark-text: #020f04;
  --dark-grey: #555a56;
  --light-grey: #aaafab;
  --accent: #5f773e;
  --accent-dark: #274213;
}

body, html {
  padding: 0;
  margin: auto;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 200;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
}

footer {
  text-align: left;
  font-style: normal;
  width: 70%;
  margin: auto;    
  border-top: 1px solid var(--accent);
  padding: 5px 0;
}

h1 {
  font-family: Bookman, sans-serif;
  font-size: 36pt;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}

h2 {
  color: var(--accent);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
}

a {
  color: var(--dark-grey);
  text-decoration: none;
}

ul {
  display: inline-block;
  font-size: 1.2rem;
  list-style-type: none;
}

li {
  margin: 15px 0;
}

ul li {
  padding-left: 2rem;
  background-image: url(../images/spoon.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

ul a:hover {
  background-color: #eee;
  color: var(--accent);
  transition: 0.3s;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.img-sepia {
  filter: sepia(50%);
}

#title-logo {
  max-width: 100%;
}

#topline {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  /* min-height: 165px; */
}

#topline h1 {
  font-family: 'Zilla Slab Highlight', Georgia, sans-serif;
  color: var(--accent-dark);
}

#topline h3 {
  font-family: 'Zen Old Mincho', Georgia, serif;
  color: var(--dark-grey);
  font-weight: normal;
  margin: 5px 0;
}

#topline a:hover {
  color: var(--accent);
  transition: 0.3s;
}

.social-icons > a {
  padding-right: 5px;
}

.sub-title {
  font-family: 'Zen Old Mincho', Georgia, serif;
  font-size: 1.2rem;
}

#about {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 2rem;
  grid-gap: 1.5rem;
  color: var(--dark-grey);
  text-align: left;
  font-size: 14pt;
  align-items: center;
  border-bottom: 1px solid var(--accent);
}

#about img {
  width: 95%;
  height: 350px;
  filter: sepia(50%);
  object-fit: cover;
}

.quote-block {
  font-size: 32pt;
}

#contact {
  width: 70%;
  margin: auto; 
  color: var(--dark-grey);
  text-align: left;
  font-size: 14pt;
  height: auto;
  padding-bottom: 7.5%;
}

#contact img {
  float: right;
  margin-left: 50px;
  width: 40%;
  height: 200px;
  filter: sepia(50%);
  object-fit: cover;
}

#recent-articles {
  border-bottom: 1px solid var(--accent);
}

#testimonials {
  width: 70%;
  margin: auto;
  color: var(--dark-grey);
  text-align: left;
  font-size: 14pt;
  height: auto;
}

#testimonials p {
  margin: 2rem 1rem;
  line-height: 1.4em;
}

#farm-testimonials {
  width: 70%;
  margin: auto; 
  color: var(--dark-grey);
  text-align: left;
  font-size: 14pt;
  height: auto;
}

#farm-testimonials p {
  margin: 2rem 1rem;
  line-height: 1.4em;
}

.pg-title {
  width: 70%;
  margin: auto; 
  color: var(--dark-grey);
  text-align: center;
  font-size: 14pt;
  line-height: 1.2;
  height: auto;
}

.pg-title > img {
  padding: 10px;
}

.article-list {
  width: 65%;
  margin: auto; 
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1fr));
  padding: 2rem 0;
  grid-gap: 1rem;
}

.article-list article {
  background-color: #eee;
  margin: 0 0 20px 0;
  padding-right: 10px;
  overflow: hidden;
}

.article-list article img {
  float: left;
  height: auto;
  width: 180px;
  object-fit: contain;
  margin-right: 20px;
  filter: drop-shadow(2px 2px 0px var(--accent));
}

.ways-wrap {
  text-align: center;
  padding-bottom: 35px;
}

.ways {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  padding: 0 15%;
}

.ways-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  opacity: 0.5;
  background: yellow;
}

.ways-item:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.ways-item > p {
  color: var(--accent);
  font-size: larger;
  background: #fff;
  margin: 0 15px;
}

/* 13 Ways background images */
.ways-prawn {
  background: url("../images/13ways/prawn.jpg") no-repeat;
  background-size: cover;
}

.ways-cucumber {
  background: url("../images/13ways/cucumber.jpg") no-repeat;
  background-size: cover;
}

.ways-potato {
  background: url("../images/13ways/potato.jpg") no-repeat;
  background-size: cover;
}

.ways-olive {
  background: url("../images/13ways/olives.jpg") no-repeat;
  background-size: cover;
}

.ways-carrot {
  background: url("../images/13ways/carrot.jpg") no-repeat;
  background-size: cover;
}

.ways-tomato {
  background: url("../images/13ways/tomato.jpg") no-repeat;
  background-size: cover;
}

.ways-coffee {
  background: url("../images/13ways/coffee.jpg") no-repeat;
  background-size: cover;
}

.ways-apple {
  background: url("../images/13ways/apple.jpg") no-repeat;
  background-size: cover;
}

.ways-chicken {
  background: url("../images/13ways/chicken.jpg") no-repeat;
  background-size: cover;
}

.ways-onion {
  background: url("../images/13ways/onion.jpg") no-repeat;
  background-size: cover;
}

.ways-honey {
  background: url("../images/13ways/honey.jpg") no-repeat;
  background-size: cover;
}

.ways-bean {
  background: url("../images/13ways/beans.jpg") no-repeat;
  background-size: cover;
}

/* Nav styles */
.organisation {
  float: right;
  width: 35%;
  padding-top: 20vh;
  text-align: cover;
}

.top-nav {
  overflow: hidden;
  margin: auto;
  text-align: center;
  width: 70%;
  border-style: solid;
  border-color: var(--accent);
  border-width: 1px 0;
}

.top-nav a {
  display: inline-block;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #eee;
  color: var(--accent);
  transition: 0.3s;
}

.top-nav .current {
  color: white;
  background-color: var(--accent);
  opacity: 0.5;
}

.grid-container {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 2rem 0;
  grid-gap: 1.5rem;
}

.grid-item {
  padding: 0 20px 10px 20px;
  background-color: #eee;
}

.grid-item img {
  height: 220px;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 0px var(--accent));
}

/*Set the fonts for inside each article box*/
.article-title {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18pt;
  font-style: bolder;
}

article a {
  font-size: 1em;
  color: black
}

article a:hover {
  background-color: #fff;
  color: var(--accent);
  transition: 0.3s;
}

article p {
  overflow: hidden;
}

.pub-title {
  color: var(--dark-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  font-weight: lighter;
}

/*For small browser windows */
@media only screen and (max-width: 900px) {
  #about,
  .grid-container, .article-list, .pg-title, 
  #testimonials, #farm-testimonials {
    width: 100%;
  }

  .top-nav, header, footer {
    width: 95%;
  }

  body > header {
    margin-left: 2.5%;
  }

  #about {
    padding: 1rem 0;
    grid-template-columns: 100%;
  }

  #about img{
    width: 100%;
  }

  #about p {
    margin: 10px;
  }

  .pg-title p {
    margin: 0 10px;
  }

  .article-list article {
    padding-left: 10px
  }
}

/*For iphones 6,7, and 8*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  #about,
  .grid-container, .article-list, .pg-title, 
  #testimonials, #farm-testimonials {
    width: 100%;
  }

  .top-nav, header, footer {
    width: 95%;
  }

  body > header {
    margin-left: 2.5%;
  }

  #about {
    padding: 1rem 0;
    grid-template-columns: 100%;
  }

  #about img{
    width: 100%;
  }

  #about p {
    margin: 0 10px;
  }

  .pg-title p {
    margin: 0 10px;
  }
  
  .article-list article {
    padding-left: 10px
  }
}
