---
layout: layouts/base.njk
title: David McKenzie
---

<section id="about">
    <div>
        <p id="quote-block">I am interested in <strong>what people eat, ate, and will eat.</strong> Including myself.</p>
        <p>As a roaming writer, activist and researcher, my interests are in food: how it is produced, how it is consumed, and how it is used, abused, and percieved.</p>
        <p>How we connect with (and share) what we eat is fundamental, but varied, across different continents, cultures, and time periods. I have been exploring this idea around the world for the past ten years.</p>
    </div>
    <div>
        <img class="about-right" src="/images/cover-1.jpg" alt="About image"/>
    </div>
</section>

<header>
    <h2>Testimonials</h2>
</header>

{% include "partials/testimonials.njk" %} 