---
layout: layouts/base.njk
title: Contact - David McKenzie
---

<section id="contact">
    <h2>Get in touch</h2>
    <p>For writing commissions, collaborations or just to say hello:</p>
    
    <div class="contact-info">
        <p><i class="fas fa-envelope"></i> <a href="mailto:david@eatsnleaves.com">david@eatsnleaves.com</a></p>
        <p><i class="fab fa-twitter"></i> <a href="https://twitter.com/eatsnleaves">@eatsnleaves</a></p>
        <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/eatsnleaves/">@eatsnleaves</a></p>
    </div>
</section> 