---
layout: layouts/base.njk
title: Contact - David McKenzie
---

<section id="contact">
    <h2>Get in touch</h2>
    <p>Reach out if you want to discuss the origins of pasta, potential collaboration projects, the history of star anise, or anything else.</p>
    
    <div class="contact-info">
        <code>davemckenzienz  at  gmail</code>
    </div>
</section> 