---
layout: layouts/base.njk
title: Stone Soup - David McKenzie
---

<section class="project">
    <div class="project-content">
        <div class="project-text">
            <section class="pg-title">
                <h2>Stone Soup</h2>
                <p>This not-for-profit, grassroots publication highlights often-ignored issues in food around Aotearoa New Zealand, as well as highlighting people trying to do things in a better way, or to address these issues. </p>
                <p>I strongly associate with the goals and philosophy behind Stone Soup, and I attempt to collaborate with them and their broader network of activists whenever I can. Not only in terms of publishing articles, but supporting other food- and community-focused projects, too. </p>
            </section>
            <hr>
            <section class="article-list">
                <article>
                    <a href="https://stonesoupsyndicate.com/articles/fill-a-basket" class="article-title">Fill a Basket: The woman helping a remote region in Kyrgyzstan rediscover its wild food heritage</a>
                    <p class="pub-title">Stone Soup</p>
                    <p> It is a relatively remote alpine region, cut off from other areas by snow for much of the year. Its climate is extreme, harsh under both winter snow and penetrating summer sun. It’s also jaw-droppingly beautiful. And it’s the setting for our sweet and sour story.</p>
                </article>
                <article>
                    <a href="https://www.eatnewzealand.nz/food-stories/unpaving-the-path" class="article-title">Unpaving the path</a>
                    <p class="pub-title">Eat New Zealand</p>
                    <p>Colonisation has brought so much disruption, in many different forms, to Māori living in New Zealand's South Island since the 19th century. But one thing in particular has had a significant impact on traditional Māori food pathways in the Aoraki region: the building of a huge hydro-electric dam network between the 1960s and 1980s.</p>
                </article>
            </section>
        </div>
    </div>
</section> 