---
layout: layouts/base.njk
title: Sustainable Food Trust - David McKenzie
---

<section class="project">
    <div class="project-content">
        <div class="project-text">
            <section class="pg-title">
                <h2>The Sustainable Food Trust</h2>
                <p>Founded by Patrick Holden in 2011, the UK-based Sustainable Food Trust is a crucial platform for giving the general public a clearer idea of what different means of food production actually look like. They are closely involved in politics and policy work, with a high level of practical knowledge and understanding derived from a rich network of sustainable producers.<br><br>I have been working with the Sustainable Food Trust since 2019. You can read some of my articles they have published here.</p>
            </section>
            <hr>
            <section class="article-list">
                <article>
                    <a href="https://sustainablefoodtrust.org/news-views/uk-increase-seafood-imports-new-zealand/" class="article-title">New Zealand’s ‘sustainable’ seafood: Why it’s not as good as it sounds</a>
                    <p class="pub-title">Sustainable Food Trust</p>
                    <p>New Zealand's oft-revered Quota Management System has allowed the New Zealand seafood industry to remind the world, repeatedly, that they “needn’t worry about the health of New Zealand fish stocks”. Except that … we really should.</p>
                </article>        
                <article>
                    <a href="https://sustainablefoodtrust.org/news-views/the-future-of-grain/" class="article-title">Better grain, sustainably produced in Britain? The future is near</a>
                    <p class="pub-title">Sustainable Food Trust</p>
                    <p>Brits eat a lot of wheat. Yet the system that supplies most of that wheat has been creaking along for a while now, and dramatic events of the past few years have exposed the fragility of this system to a wider public. Rather than bringing more doom and gloom, however, this exposure may actually provide an opportunity.</p>
                </article> 
                <article>
                    <a href="https://sustainablefoodtrust.org/articles/what-makes-a-sustainable-christmas-dinner-the-ecological-footprint-of-festive-feasting/" class="article-title">What makes a sustainable Christmas dinner? The ecological footprint of festive feasting</a>
                    <p class="pub-title">Sustainable Food Trust</p>
                    <p>There are very few other times of the year when arguments over what we should be eating are brought so vehemently to the table as at Christmas. Looking at the history of why we (particularly Brits) eat certain things at Christmas, as well as a future of what we should or could be eating instead.</p>
                </article>
                <article>
                    <a href="https://sustainablefoodtrust.org/articles/how-eating-heritage-barley-could-be-a-useful-weapon-in-the-fight-against-climate-change/" class="article-title">How heritage barley could be a valuable and vital food in the fight against climate change</a>
                    <p class="pub-title">Sustainable Food Trust</p>
                    <p>Overlooked for centuries in favour of wheat, old types of barley may be part of an inspiring answer to some big problems surrounding human health, environment, and food production.</p>
                </article>
                <article>
                    <a href="https://sustainablefoodtrust.org/articles/giving-good-grains-a-better-future/" class="article-title">Giving good grains a better future</a>
                    <p class="pub-title">Sustainable Food Trust</p>
                    <p>Grains – the seeds of cereal grasses and so-called ‘pseudocereals’ – have long been central to human nutrition, from ancient Aztec amaranth to Australian Aboriginal kangaroo grass. In recent years and decades, however, our relationship with many grains has changed drastically and, in many cases, detrimentally.</p>
                </article>
            </section>
        </div>
    </div>
</section> 