---
layout: layouts/base.njk
title: Contemporary Food Lab - David McKenzie
---

<section class="project">
    <div class="project-content">
        <div class="project-text">
        <section class="pg-title">
            <h2>Contemporary Food Lab</h2>
            <p>The <a href="https://web.archive.org/web/20210119052346/http://contemporaryfoodlab.com/minds/davidmckenzie/" target="_blank">Contemporary Food Lab</a> was a multi-disciplinary platform, founded by Ludwig Cramer-Klett, to support innovative ideas in food. It encompassed the CFL Journal, CFL Academy Workshop, CFL art exhibition space, and the award-winning Katz Orange restaurant, Panama Bar, and Tiger Bar, all in Berlin.​</p>
            <p>Here are some of my articles that have been published over the years in the CFL Journal, which unfortunately is no longer active.</p>
        </section>
        <hr>
        <section class="article-list">
            <article>
                <a href="https://web.archive.org/web/20210123052647/http://contemporaryfoodlab.com/hungry-world/2018/07/lab-made-meat-is-here-are-we-going-to-eat-it/" class="article-title">Lab-made Meat is Here: Are We Going to Eat It?</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>Whether you like the idea or not, meat made by scientists through cellular agriculture could be on supermarket shelves within months. So will it save the world? Or will it be a failed fad?</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210302202552/http://contemporaryfoodlab.com/hungry-world/2018/04/fareshare-a-new-model-for-fighting-food-waste/" class="article-title">FareShare: A New Model for Fighting Food Waste</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>Despite growing public awareness and amazing grassroots work, the amount of perfectly good food being thrown away continues to increase rather than diminish. So maybe it’s time to approach the problem in a new way.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210306110026/http://contemporaryfoodlab.com/hungry-world/2018/09/eating-animals-to-save-them-an-absurd-solution-to-our-meat-problem/" class="article-title">Eating Animals to Save Them: An Absurd Solution to our Meat Problem?</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>We know that our meat-eating habits are not doing doing the environment any favours. But perhaps, instead of tearing it all down and starting again, we can change the meat industry from within: by rediscovering localised livestock breeds.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20201205080758/http://contemporaryfoodlab.com/hungry-world/2017/10/the-future-of-an-ancient-grain-orkney-bere/" class="article-title">The Miller's Tale: A Visit to Orkney's Barony Mill</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>It's sleek, it's self-sufficient, and it's totally sustainable — but it's nothing new. The Victorian, water-powered Barony Mill in Birsay, Orkney, simply keeps pumping out flour and beremeal in the same way it has since 1873.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210305232456/http://contemporaryfoodlab.com/hungry-world/2018/11/fish-our-forgotten-friends/" class="article-title">Fish: Our Forgotten Friends</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>While public opposition and outrage against the livestock industry has become more and more vehement, industrial fisheries don’t yet seem to attract the same scorn. Even though they could be even worse.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210123035113/http://contemporaryfoodlab.com/hungry-world/2015/09/white-is-the-warmest-color-a-history-of-refined-flour/" class="article-title">White is the Warmest Colour</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>It's no secret that we have fallen out of love with white flour. But getting a divorce now, after 150 years together, is a lot harder than we think.<br></br><br><a href="https://web.archive.org/web/20210123035113/http://contemporaryfoodlab.com/hungry-world/2015/09/white-is-the-warmest-color-a-history-of-refined-flour/" target="_blank"><i>Part One: A Rough History of Refined Flour</i></a></br><br><a href="https://web.archive.org/web/20201205091021/http://contemporaryfoodlab.com/hungry-world/2015/09/white-is-the-warmest-colour-our-complicated-love-affair-with-flour/" target="_blank"><i>Part Two: "Well...it's complicated" — Our Confusing Love Affair with White Flour</i></a></br></p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210305232831/http://contemporaryfoodlab.com/hungry-world/2018/12/the-good-the-bad-and-the-spicey-how-spices-fell-out-of-flavour/" class="article-title">The Good, the Bad, and the Spicey: How Spices Fell out of F(l)avour</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>For centuries, spices were extremely valuable items that drove global commerce and determined the fate of millions. Now, they sit on our shelves, largely anonymous, for months. Or even years. How did spices fall so far?</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210304184730/http://contemporaryfoodlab.com/hungry-world/2018/10/organic-oracles-how-to-seed-into-the-future/" class="article-title">Saving Seeds for the Future: Not All About Doomsday</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>Not all seed banks are vaults to be called upon only in the case of catastrophe. Many are living, active projects rooted in the here and now. At Terra Madre Salone del Gusto last month, representatives from numerous seed-saving initiatives across the world met in Turin to share their stories. Here are a few.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210116053501/http://contemporaryfoodlab.com/hungry-world/2018/01/as-green-as-it-gets-potato-starch-set-to-challenge-bioplastic/" class="article-title">Potato Packaging Set to Challenge Bioplastics?</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>What can possibly be exciting about a tub of starchy water sitting in the corner of a sterile factory? Quite a lot, actually.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210304185258/http://contemporaryfoodlab.com/hungry-world/2016/11/stichelton-a-glitchelton-in-the-systelton/" class="article-title">Stichelton (a.k.a. The Cheese Formerly Known as Stilton): A Glichelton in the Systelton</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>Made with milk from a single herd, using traditional calves rennet and ancient bacteria strains to a centuries-old process on a small farm in Nottinghamshire, Stichelton is the best Stilton I've ever tasted – except, it's not.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210417225445/http://contemporaryfoodlab.com/hungry-world/2016/11/hospital-food/" class="article-title">Hospital Food - It's Even Worse than you Think</a>
                <p class="pub-title">Contemporary Food Lab</p>
                <p>If you thought that the tasteless plodge of grey sludge was the worst part about hospital meals. Think again.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210116063912/http://contemporaryfoodlab.com/hungry-people/2015/02/charles-darwin-der-irrtuemliche-held-der-vegetarier/" class="article-title">Charles Darwin: The Mistaken Vegetarian Hero</a>
                <p>The legendary naturalist is often held aloft as an early animal rights campaigner. But not only was Darwin a lifelong meat-eater. His early dietary habits would make conservationists sickened rather than inspired.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20201228191746/http://contemporaryfoodlab.com/hungry-people/2015/01/mussolini-unterdruecker-der-pasta/" class="article-title">Mussolini: Oppressor of Pasta?</a>
                <p>Benito Mussolini wasn't known as a food-lover. But if he didn't want eating to be a big deal in his ideal future fascist society, perhaps he should've picked a different country to rule than pasta-loving Italy.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210124125758/http://contemporaryfoodlab.com/hungry-people/2015/01/marco-polo-bringer-der-pasta/" class="article-title">Marco Polo: Bringer of Pasta?</a>
                <p>Marco Polo is credited with introducing pasta to Italy. While that is a myth, his lasting, if indirect, influence on Italian pasta may not be entirely insignificant.</p>
            </article>
            <article>
                <a href="https://web.archive.org/web/20210305231945/http://contemporaryfoodlab.com/hungry-people/2016/03/kivalina-crumbling-away/" class="article-title">Kivalina - Crumbling Away: A Conversation with Filmmaker Gina Abatemarco</a>
                <p>"I went to Alaska with the intent of making a climate change film. It ended up being all about food."</p>
            </article>
        </section>
    </div>
</section> 