<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}David McKenzie{% endblock %}</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <header id="topline">
            <h1>David McKenzie</h1>
            <h3>Freelance food writer, activist and farmhand</h3>
            <div class="social-icons">
                <a href="https://twitter.com/eatsnleaves"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/eatsnleaves/"><i class="fab fa-instagram"></i></a>
            </div> 
        </header>
        {% include "partials/nav.njk" %}
        
        <main class="container">
            {{ content | safe }}
        </main>
        
        <footer>
            <p>&copy; David McKenzie {{ page.date.getFullYear() }}</p>
        </footer>
    </body>
</html>