<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}David McKenzie{% endblock %}</title>
        <link href="{{'/css/styles.css' | url}}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="topline">
            <a href="/" style="text-decoration: none; color: inherit;">
                <h1 class="oregano-regular">David McKenzie</h1>
            </a>
            <h3>Freelance food writer, activist and farmhand</h3>
        </header>
        {% include "partials/nav.njk" %}
        
        <main class="container">
            {{ content | safe }}
        </main>
        
        <footer>
            <p>&copy; David McKenzie {{ page.date.getFullYear() }}</p>
        </footer>
    </body>
</html>